.moviesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    /* To separate between elements */
    gap: 40px;
    padding: 40px;
    justify-content: center;
}

/* When the width was from 0 to 560px */
@media (max-width: 560px) {
    .moviesGrid {
        grid-template-columns: 100%;
    }
}